
/* Globals */

body {
	font-family: 'Arvo', serif;
	font-size: 1em;
	line-height: 1.8em;
	background: url(img/noise.png) #f3f3f3;
}

/* Typography */

h1, h2, h3, blockquote {
	font-family: 'Signika', sans-serif;
	line-height: 1.4em;
}

h1 {
	margin-top: 0;
}

h2, h3, blockquote {
	margin-top: 0;
	margin-bottom: 0;
}

/* Header */

header img {
	height: 80px;
}

/* Sections */

section, header {
	padding-bottom: 50px;
}

header, section, footer {
	margin-top: 50px;
	position: relative;
}

article {
	background: url(img/noise.png) #49adf6;
	color:#FFF;
	position: relative;
}

footer {
	margin-bottom: 50px;
}

/* Section Dividers */

section:after, header:after, article:after {
	content: "";
	display: block;
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: -15px;
	left: 0;
	z-index: 5;
}

section:after, header:after {
	background: url(img/section-dividers.png) center top no-repeat;
}

article:after {
	background: url(img/section-dividers.png) center bottom no-repeat;
}

/* Projects */

.img-placeholder {
	width: 100%;
	height: 200px;
	background-color: #000;
}

.projects {
	margin-top: 20px;
}

.projects p {
	margin: 0;
}

.project {
	margin-top: 30px;
}

/* Map */

.map {
	background: url(img/map.png) center center no-repeat;
	height: 2400px;
}

.row-fluid [class*="span"] {
	position: relative;
	min-height: 0;
}

h2 {
	padding: 5px 20px;
	line-height: 50px;
	background-color: #333;
	color: #fff;
	display: inline;
}

/* Map Routes */

.map-route {
	background: url(img/dashed-line.png) center top repeat-y;
	display: block;
	position: relative;
}

.bottom-dot {
	margin-bottom: 40px;
}

.top-dot {
	margin-top: 40px;
}

/* Map Route Dots */

.map-dot-bottom, .map-dot-top {
	display: block;
	width: 40px;
	height: 40px;
	background: #333;
	margin-left: -20px;
	position: absolute;
	left: 50%;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}

.map-dot-bottom {
	bottom: -20px;
}

.map-dot-top {
	top: -20px;
}

/* Map Route Uniques */

.mr1 {
	height: 280px;
}

.mr2 {
	height: 1525px;
}

.mr3 {
	height: 550px;
}

/* Quote */

.quote {
	padding-top: 50px;
	padding-bottom: 50px;
}

blockquote {
	padding: 0;
	margin: 0;
	border: none;
}
