@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* Mobile Layout: 480px and below. */

h1, h2, blockquote, p, .block960 {
	padding-left: 10px;
	padding-right: 10px;
}

li {
	padding: 0;
	margin-top: 50px;
}

li:first-child {
	margin-top: 0;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	
.columns {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	
	-moz-column-gap: 50px;
	-webkit-column-gap: 50px;
	-o-column-gap: 50px;
	column-gap: 50px;
}

h1, h2, blockquote, p, .block960 {
	padding-left: 20px;
	padding-right: 20px;
}

li {
	float: left;
	width: 50%;
	margin: 0;
}

.odd {
	padding-right: 10px;
}

.even {
	padding-left: 10px;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	
h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

blockquote {
	font-size: 1.5em;
}

h1, h2, blockquote, p, .block960 {
	padding-left: 30px;
	padding-right: 30px;
}

.columns {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-o-column-count: 3;
	column-count: 3;
}

}