img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* Mobile Layout: 480px and below. */


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	
.columns {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	
	-moz-column-gap: 50px;
	-webkit-column-gap: 50px;
	-o-column-gap: 50px;
	column-gap: 50px;
}

}

/* Desktop Layout: from 769px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	
.span12 {
	padding-left: 10%;
	padding-right: 10%;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

blockquote {
	font-size: 1.5em;
}

.columns {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-o-column-count: 3;
	column-count: 3;
}

}