<div class="row-fluid">
	<section class="span12 projects">
		<div class="row-fluid" ng-include="'partials/projects.html'"></div>
	</section>
</div>

<article class="row-fluid visible-desktop" ng-include="'partials/map.html'"></article>

<div class="row-fluid">
	<section class="span12">
		<h1 class="text-center">Who am I?</h1>
		<p class="columns">
			I was born in Budapest, Hungary. I have always enjoyed making other people smile, to make others happy and forget about their problems. I believe that there is no better way to do this than in the entertainment and video game industries. Video games take their players to another world, one full of fantastical places and amazing adventures where absolutely anything can happen. I have always wanted to be a part in creating and building these worlds. This is why I want to be a part of the video game industry.
		</p>
	</section>
</div>

<div class="row-fluid">
	<article class="span12 text-center quote">
		<blockquote>
			There is great satisfaction in bringing a design to life. A maluable creative process can make the difference between causing people to think and feel happy, or causing confusion and unhappiness.
		</blockquote>
	</article>
</div>