<div class="map" data-bottom-top="background-position:center 0px;" data-top-bottom="background-position:center -1000px;">
	
	<div class="row-fluid">
		<div class="span12 bottom-dot mr1">
			<span class="map-route mr1" data-center-top="height:0px;" data-center-bottom="height:280px;">
				<i class="map-dot-bottom" data-center-top="width:0px; height:0px; margin-left:0px;" data-center-bottom="width:40px; height:40px; margin-left:-20px;"></i>
			</span>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12 text-center">
			<h2 data-center-top="background-color:rgba(0,0,0,0); color:rgba(255,255,255,0);" data-center-bottom="background-color:rgba(51,51,51,1); color:rgba(255,255,255,1);">
					And you keep going. You want to know what lies ahead...
			</h2>
			<br>
			<h2 data-center-top="background-color:rgba(0,0,0,0); color:rgba(255,255,255,0);" data-center-bottom="background-color:rgba(51,51,51,1); color:rgba(255,255,255,1);">
					But which way to take? You think for a moment.
			</h2>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span1 offset3 bottom-dot top-dot mr2">
				<span class="map-route mr2" data-center-top="height:0px;" data-center-bottom="height:1525px;">
					<i class="map-dot-top" data-center-top="width:0px; height:0px; margin-left:0px;" data-center-bottom="width:40px; height:40px; margin-left:-20px;"></i>
					<i class="map-dot-bottom" data-center-top="width:0px; height:0px; margin-left:0px;" data-center-bottom="width:40px; height:40px; margin-left:-20px;"></i>
				</span>
		</div>
		<div class="span1 offset4 bottom-dot top-dot mr3">
			<span class="map-route mr3" data-center-top="height:0px;" data-center-bottom="height:550px;">
				<i class="map-dot-top" data-center-top="width:0px; height:0px; margin-left:0px;" data-center-bottom="width:40px; height:40px; margin-left:-20px;"></i>
				<i class="map-dot-bottom" data-center-top="width:0px; height:0px; margin-left:0px;" data-center-bottom="width:40px; height:40px; margin-left:-20px;"></i>
			</span>
		</div>
		<div class="span5 offset2 text-center">
			<h2 data-center-top="background-color:rgba(0,0,0,0); color:rgba(255,255,255,0);" data-center-bottom="background-color:rgba(51,51,51,1); color:rgba(255,255,255,1);">
				You found a strange mask.
			</h2>
			<br>
			<h2 data-center-top="background-color:rgba(0,0,0,0); color:rgba(255,255,255,0);" data-center-bottom="background-color:rgba(51,51,51,1); color:rgba(255,255,255,1);">
				You try it on, and your life is never gonna be the same...
			</h2>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12 text-center">
			<h2 data-center-top="background-color:rgba(0,0,0,0); color:rgba(255,255,255,0);" data-center-bottom="background-color:rgba(51,51,51,1); color:rgba(255,255,255,1);">
				Then you found me, adventurer!
			</h2>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12 top-dot mr1">
			<span class="map-route mr1" data-center-top="height:0px;" data-center-bottom="height:280px;">
				<i class="map-dot-top" data-center-top="width:0px; height:0px; margin-left:0px;" data-center-bottom="width:40px; height:40px; margin-left:-20px;"></i>
			</span>
		</div>
	</div>
	
</div>