<div class="row">
	<section class="col-md-12">
		<div class="row">
			<div class="col-md-7">
				<div>
					<h1>{{title}}</h1>
					<p>{{info}}</p>
					
					<ul class="nav nav-pills">
						<li>
							<a href="#/home"><i class="fa fa-angle-left"></i> back</a>
						</li>
						<li ng-repeat="dropdown in dropdowns" class="dropdown" dropdown>
							<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i> {{dropdown.title}}</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li ng-repeat="link in dropdown.links"><a tabindex="-1" ng-href="{{link.url}}" ng-target="{{link.target}}">{{link.title}} <i ng-show="link.target == '_blank'" class="fa fa-external-link"></i></a></li>
							</ul>
						</li>
						<li>
							<a ng-repeat="link in links" ng-href="{{link.url}}" ng-target="{{link.target}}"><i class="fa fa-angle-right"></i> {{link.title}} <i ng-show="link.target == '_blank'" class="fa fa-external-link"></i></a>
						</li>
					</ul>
					
				</div>
			</div>
			<div class="col-md-5">
				<h1>Info</h1>
				<dl class="dl-horizontal">
					<dt><h4>At:</h4></dt>
					<dd><h4>{{at}}</h4></dd>
					<hr>
					<dt ng-show="client"><h4>Client:</h4></dt>
					<dd ng-show="client"><h4>{{client}}</h4></dd>
					<hr ng-show="client">
					<dt><h4>What:</h4></dt>
					<dd><h4 ng-repeat="w in what">{{w}}</h4></dd>
				</dl>
			</div>
		</div>
	</section>
</div>

<div class="row">
	<section class="col-md-12 matrix">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="img in imgs" ng-controller="project_thumbs_ctrl">
				<a href="img/{{imgdir}}/{{img}}" class="thumbnail fancybox" rel="group" spinner>
					<div class="image-placeholder">
						<img class="img-responsive" ng-hide="imageLoading" ng-src="img/{{imgdir}}/{{img}}" alt="{{imgdir}} - {{img}}">
					</div>
				</a>
			</div>
		</div>
	</section>
</div>
