<div class="span3 project" ng-repeat="project in projects" ng-class="{'span-fourth': $index % 4 == 0, 'span-second': $index % 2 == 0}" ng-controller="projects_ctrl">
	<a href="#/project/{{$index + 1}}" class="thumbnail">
		<h3>{{project.title}}</h3>
		<img src="img/{{project.imgdir}}/{{project.imgs[0]}}" alt="{{project.title}} - {{project.imgs[0]}}">
		<p ng-show="project.at">At: <strong>{{project.at}}</strong></p>
		<p ng-show="project.client">Client: <strong>{{project.client}}</strong></p>
	</a>
</div>