<div class="row">
	<section class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div>
					<h1>{{title}}</h1>
					<p class="columns">{{info}}</p>
					
					<ul class="nav nav-pills" ng-class="{true: 'nav-stacked'}[screenWidth <= 768]">
						<li>
							<a ng-href="#/home"><i class="fa fa-angle-left"></i> back</a>
						</li>
						<li ng-repeat="dropdown in dropdowns" class="dropdown" dropdown>
							<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i> {{dropdown.title}}</a>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="link in dropdown.links"><a tabindex="-1" ng-href="{{link.url}}" ng-target="{{link.target}}">{{link.title}} <i ng-show="link.target == '_blank'" class="fa fa-external-link"></i></a></li>
							</ul>
						</li>
						<li>
							<a ng-repeat="link in links" ng-href="{{link.url}}" ng-target="{{link.target}}"><i class="fa fa-angle-right"></i> {{link.title}} <i ng-show="link.target == '_blank'" class="fa fa-external-link"></i></a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
	</section>
</div>

<div class="row">
	<article class="col-md-12">
		<dl class="dl-horizontal">
			<dt><h3>At:</h3></dt>
			<dd><h4>{{at}}</h4></dd>
			<dd><hr></dd>
			<dt ng-show="client"><h3>Client:</h3></dt>
			<dd ng-show="client"><h4>{{client}}</h4></dd>
			<hr ng-show="client">
			<dt><h3>What:</h3></dt>
			<dd><h5 ng-repeat="w in what"><i class="fa fa-check"></i> {{w}}</h5></dd>
		</dl>
	</article>
</div>

<div class="row">
	<section class="col-md-12 matrix">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="img in imgs" ng-controller="project_thumbs_ctrl">
				<a ng-href="img/{{imgdir}}/{{img}}" class="thumbnail" target="_blank">
					<div class="image-placeholder" spinner>
						<img class="img-responsive" ng-hide="imageLoading" ng-src="img/{{imgdir}}/{{img}}" alt="{{imgdir}} - {{img}}">
					</div>
				</a>
			</div>
		</div>
	</section>
</div>
